## <span style=color:red><b>Tasca M5 T01</b></span> 
_Enviar l'URL a un repositori anomenat estructures_Dataframe que contingui la solució. S'ha d'entregar cada exercici en un mateix fitxer i en un repositori._

- [X] <span style=color:red><b>__Exercici 1:__</b></span> 
Descarrega el dataset adjunt de dades oficials de la UEFA i selecciona un atribut del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.

In [31]:
import pandas as pd
import numpy as np
import random

In [32]:
db = pd.read_csv('Lligues europees UEFA2.csv')
db.info()
db.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rk               98 non-null     int64
 1   Squad            98 non-null     object
 2   Country          98 non-null     object
 3   LgRk             98 non-null     int64
 4   MP               98 non-null     int64
 5   W                98 non-null     int64
 6   D                98 non-null     int64
 7   L                98 non-null     int64
 8   GF               98 non-null     int64
 9   GA               98 non-null     int64
 10  GD               98 non-null     int64
 11  Pts              98 non-null     int64
 12  Pts/G            98 non-null     float64
 13  xG               98 non-null     float64
 14  xGA              98 non-null     float64
 15  xGD              98 non-null     float64
 16  xGD/90           98 non-null     float64
 17  Last 5           98 non-null     object
 18  Attendance       98 non-null     int64
 19  Top Team Scorer  98 non-null     object
 20  Goalkeeper       98 non-null     object
dtypes: float64(5), int64(11), object(5)
memory usage: 16.2+ KB

,Rk,LgRk,MP,W,D,L,GF,GA,GD,Pts,Pts/G,xG,xGA,xGD,xGD/90,Attendance
count,98.000000,98.000000,98.000000,98.000000,98.000000,98.00000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000,98.000000
mean,49.500000,10.316327,36.306122,13.448980,9.408163,13.44898,50.877551,50.877551,0.000000,49.734694,1.370204,48.653061,48.645918,-0.005102,0.000918,24239.857143
std,28.434134,5.706926,1.152390,5.747474,2.903381,5.12347,16.102933,13.634602,26.501896,16.166371,0.443903,12.453950,9.812481,19.992506,0.551414,14874.171842
min,1.000000,1.000000,34.000000,3.000000,3.000000,2.00000,23.000000,24.000000,-56.000000,18.000000,0.530000,28.200000,26.800000,-40.400000,-1.090000,5870.000000
25%,25.250000,5.250000,36.000000,9.000000,7.000000,10.00000,39.000000,40.000000,-17.750000,37.000000,1.000000,39.100000,41.300000,-13.575000,-0.365000,12355.500000
50%,49.500000,10.000000,37.000000,13.000000,9.000000,13.00000,47.000000,50.000000,-1.000000,46.000000,1.300000,46.450000,47.750000,-1.100000,-0.030000,20491.000000
75%,73.750000,15.000000,37.000000,17.000000,11.000000,17.00000,60.000000,59.000000,17.250000,61.750000,1.695000,55.550000,54.700000,12.800000,0.355000,32382.000000
max,98.000000,20.000000,37.000000,28.000000,16.000000,26.00000,97.000000,89.000000,72.000000,90.000000,2.430000,88.100000,73.300000,59.300000,1.600000,73150.000000

In [55]:
db_1 = db[['Attendance']].copy()
db_1.info()
db_1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98 entries, 0 to 97
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Attendance  98 non-null     int64
dtypes: int64(1)
memory usage: 912.0 bytes

         Attendance
count     98.000000
mean   24239.857143
std    14874.171842
min     5870.000000
25%    12355.500000
50%    20491.000000
75%    32382.000000
max    73150.000000

In [53]:
sample_1=db_1.sample(n=20, random_state=0)
sample_2=db_1.sample(n=20, random_state=2)
db_2 = sample_1[['Attendance']].copy()
db_3 = sample_2[['Attendance']].copy()
db_2.describe()

         Attendance
count     20.000000
mean   24313.250000
std    16656.906056
min     5870.000000
25%    14398.750000
50%    18009.000000
75%    29321.000000
max    73150.000000

In [35]:
db_3.describe()

         Attendance
count     20.000000
mean   25770.800000
std    17153.050008
min     5870.000000
25%    12208.500000
50%    20518.000000
75%    35038.000000
max    58370.000000

In [59]:
from scipy.stats import ttest_ind
stat, p = ttest_ind(db_2, db_3)
print('stat=%.3f, p=%.3f' % (stat, p))
print('El p-valor es:',p[0])
if p > 0.05:
    print('Aceptamos la hipótesis nula')
else:
    print('Rechazamos la hipótesis nula')

stat=-0.273, p=0.787
El p-valor es: 0.7866192566091312
Aceptamos la hipótesis nula

- [X] <span style=color:red><b>__Exercici 2:__</b></span>
Amb el mateix dataset selecciona dos altres atributs del conjunt de dades. Calcula els p-valors i digues si rebutgen la hipòtesi nul·la agafant un alfa de 5%.

In [61]:
sample_1b=db.sample(n=20, random_state=0)
from scipy.stats import ttest_ind
stat, p = ttest_ind(sample_1b['W'],sample_1b['GF'])
print('stat=%.3f, p=%.3f' % (stat, p))
print('El p-valor es:',p)
if p > 0.05:
    print('Aceptamos la hipótesis nula')
else:
    print('Rechazamos la hipótesis nula')

stat=-9.749, p=0.000
El p-valor es: 6.888768378640656e-12
Rechazamos la hipótesis nula

- [X] <span style=color:red><b>Exercici 3:</b></span>
Continua amb el conjunt de dades adjunt i selecciona tres atributs del conjunt de dades. Calcula el p-valor i digues si rebutja la hipòtesi nul·la agafant un alfa de 5%.

In [63]:
# Como tenemos tres datos, necesitamos otro test de hipótesis con el cual podamos trabajar con más de dos atributos.
# Usé entonces la prueba de Friedman.
from scipy.stats import friedmanchisquare
stat, p = friedmanchisquare(sample_1b["W"],sample_1b["D"],sample_1b["L"])
print('stat=%.3f, p=%.3f' % (stat, p))
print('El p-valor es:',p)
if p > 0.05:
    print('Aceptamos la hipótesis nula')
else:
    print('Rechazamos la hipótesis nula')

stat=3.079, p=0.214
El p-valor es: 0.21449396328350567
Aceptamos la hipótesis nula