## Sprint 5. Mètodes de Mostreig

### <span style=color:blue><b>Nivell 1</b></span> 
- [x] Exercici 1
Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.

In [1]:
import pandas as pd
import numpy as np
import random

db = pd.read_csv('Match.csv')

db.info()
print(db.head())
print(db.tail())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10160 entries, 0 to 10159
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   match_id           10160 non-null  object
 1   round              10160 non-null  object
 2   date               10160 non-null  object
 3   avg_minutes_game   10114 non-null  float64
 4   avg_seconds_point  10115 non-null  float64
 5   avg_minutes_set    10078 non-null  float64
 6   tournament         10160 non-null  object
 7   year               10160 non-null  int64
 8   match_minutes      10117 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 714.5+ KB
     match_id      round        date  avg_minutes_game  avg_seconds_point  \
0  m_2019_A_0  1st Round  2019-01-14              4.81               46.8
1  m_2019_A_1  1st Round  2019-01-14              3.95               35.7
2  m_2019_A_2  1st Round  2019-01-14              4.86               42.3
3  m_2019_A_3  1st Round  2019-01-14              4.43               43.3
4  m_2019_A_4  1st Round  2019-01-14              4.37               39.7

   avg_minutes_set       tournament  year  match_minutes
0             43.3  Australian Open  2019          173.0
1             40.5  Australian Open  2019          162.0
2             43.8  Australian Open  2019          175.0
3             41.0  Australian Open  2019          164.0
4             43.7  Australian Open  2019          131.0
           match_id          round        date  avg_minutes_game  \
10155  m_2000_W_122  Quarterfinals  2000-06-26              3.95
10156  m_2000_W_123  Quarterfinals  2000-06-26              4.26
10157  m_2000_W_124     Semifinals  2000-06-26              3.74
10158  m_2000_W_125     Semifinals  2000-06-26              3.30
10159  m_2000_W_126      The Final  2000-06-26              4.24

       avg_seconds_point  avg_minutes_set tournament  year  match_minutes
10155               37.3             41.5  Wimbledon  2000          166.0
10156               39.0             48.3  Wimbledon  2000          145.0
10157               37.2             39.6  Wimbledon  2000          198.0
10158               34.7             33.0  Wimbledon  2000           99.0
10159               35.7             44.5  Wimbledon  2000          178.0

In [2]:
# Con sample() podemos generar una muestra aleatoria simple.
# Aquí elegí una muestra de 100 elementos, es decir, de 
# 100 juegos.

db.sample(n=100)

,match_id,round,date,avg_minutes_game,avg_seconds_point,avg_minutes_set,tournament,year,match_minutes
8676,m_2011_W_40,1st Round,2011-06-21,3.36,32.2,33.6,Wimbledon,2011,168.0
2824,m_2017_F_30,1st Round,2017-05-29,4.12,40.4,35.7,French Open,2017,107.0
5556,m_2016_U_95,2nd Round,2016-02-09,4.38,37.5,46.7,US Open,2016,140.0
5208,m_2018_U_1,1st Round,2018-08-27,4.92,43.5,48.0,US Open,2018,192.0
8924,m_2009_W_34,1st Round,2009-06-23,3.87,37.1,35.6,Wimbledon,2009,178.0
...,...,...,...,...,...,...,...,...,...
546,m_2015_A_38,1st Round,2015-01-20,3.48,37.0,29.0,Australian Open,2015,87.0
2096,m_2003_A_64,2nd Round,2003-01-15,4.21,38.7,26.7,Australian Open,2003,80.0
2357,m_2001_A_71,2nd Round,2001-01-15,3.38,34.3,28.8,Australian Open,2001,115.0
7146,m_2003_U_34,1st Round,2003-08-26,3.64,41.9,51.0,US Open,2003,51.0
5405,m_2017_U_71,2nd Round,2017-08-30,3.38,32.4,33.8,US Open,2017,169.0

Ahora generemos una muestra sistemática para lo cual definimos la siguiente función.

In [3]:
def systematic_sampling(db, step):
 
    indexes = np.arange(random.randint(0, step), len(db), step=step)
    systematic_sample = db.iloc[indexes]
    return systematic_sample

In [5]:
# Suponiendo que queremos una muestra de alrededor de 100 elementos, consideramos
# el valor j definido como se muestra a continuación.
j=int(len(db)/100) 
 
# Aplicamos la función systematic_sampling para nuestra base de datos del tenis
# y considerando el valor j antes definido.
# Además, guardamos la muestra obtenida en una nueva variable.
db_systematic_sample = systematic_sampling(db, j)

# Ahora mostramos la tabla de la muestra obtenida.
display(db_systematic_sample)

,match_id,round,date,avg_minutes_game,avg_seconds_point,avg_minutes_set,tournament,year,match_minutes
75,m_2019_A_75,2nd Round,2019-01-16,4.16,38.1,42.4,Australian Open,2019,212.0
176,m_2018_A_49,1st Round,2018-01-16,4.44,39.4,37.0,Australian Open,2018,111.0
277,m_2017_A_23,1st Round,2017-01-16,4.40,41.1,38.5,Australian Open,2017,154.0
378,m_2017_A_124,Semifinals,2017-01-26,3.91,39.7,36.8,Australian Open,2017,184.0
479,m_2016_A_98,3rd Round,2016-01-22,3.88,37.7,44.0,Australian Open,2016,132.0
...,...,...,...,...,...,...,...,...,...
9670,m_2003_W_18,1st Round,2003-06-23,3.50,32.4,31.5,Wimbledon,2003,126.0
9771,m_2003_W_119,4th Round,2003-01-07,4.64,41.1,48.8,Wimbledon,2003,195.0
9872,m_2002_W_93,2nd Round,2002-06-24,3.50,34.8,37.3,Wimbledon,2002,112.0
9973,m_2001_W_67,2nd Round,2001-06-25,4.67,41.8,42.0,Wimbledon,2001,126.0
10074,m_2000_W_41,1st Round,2000-06-26,3.60,33.7,34.6,Wimbledon,2000,173.0

### <span style=color:blue><b>Nivell 2</b></span> 
- [ ] Exercici 2
Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).

### <span style=color:blue><b>Nivell 3</b></span> 
- [ ] Exercici 3
Continua amb el conjunt de dades de tema esportiu i genera una mostra utilitzant el mètode Reservoir sampling.